/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'manrope', sans-serif;
}
/* custom properties */
:root {
    --bg-black: #191919;
    --white: #fff;
    --bg-white: #F2F2F2;
    --card-bg-white: #F1F1F1;
    --card-bg-orange: #D87D4A;
    --text-black: #000;
    --border-gray: #979797;
    --hero-bg: #0E0E0E;
}
header{
    background-color: var(--bg-black);
    width: 100%;
    height: 100px;
    padding-top: 20px;
}
header .logo a{
    color: var(--white);
    font-weight: bold;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: .3px solid var(--border-gray);
}

header nav ul{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
header nav ul li{
    margin-left: 20px;
}
header nav ul li a{
    color: var(--white);
    font-size: 13px;
    text-transform: uppercase;
}
header nav ul li a:hover{
    color: var(--card-bg-orange);
}
/* utils */
.container{
    width: 80%;
    margin: 0 auto;
}

/* hero */
.hero{
    background-color: var(--bg-black);
    height: 100%;
}
.hero .container{
    display: flex;
    position: relative;
}
.hero .hero-text{
    /* width: 50%; */
    /* padding: 50px; */
    /* background-color: var(--card-bg-white); */
    /* border-radius: 10px; */
    /* flex: 1; */
    z-index: 1;
    position: absolute;
    width: 45%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-text h1{
    text-transform: uppercase;
    color: var(--white);
    font-size: 4.5rem;
    line-height: 4.2rem;
}
.hero-text p{
    width: 40ch;
    font-size: 1rem;
}
.hero-text .btn{
    color: var(--white);
    padding: 15px 30px;
    cursor: pointer;
    width: fit-content;
    text-transform: uppercase;
}
.hero-text .new-product{
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: .8rem;
}
.hero-text .btn-primary{
    background-color: var(--card-bg-orange);
    border: none;
}
.hero .hero-image{
    width: 100%;
    height: 458px;
    background-image: url(../assets/home/desktop/image-hero.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* product cards */
.products{
    margin-bottom: 9rem;
}
.product-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: .5rem;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30%;
}

.product-card-image{
    width: 80%;
}

.product-card-image img{
    width: 100%;
}

.product-info{
    background: var(--border-gray);
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    z-index: -9;
    top: 126px;
    width: 100%;
    height: 70%;
    border-radius: 0 0 5px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.product-info a{
    color: var(--white);
}