/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'manrope', sans-serif;
}
/* custom properties */
:root {
    --bg-black: #191919;
    --white: #fff;
    --bg-white: #F2F2F2;
    --card-bg-white: #F1F1F1;
    --card-bg-orange: #D87D4A;
    --text-black: #000;
    --border-gray: #979797;
    --hero-bg: #0E0E0E;
}
header{
    background-color: var(--bg-black);
    width: 100%;
    height: 100px;
    padding-top: 20px;
}
header .logo a{
    color: var(--white);
    font-weight: bold;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: .3px solid var(--border-gray);
}

header nav ul{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
header nav ul li{
    margin-left: 20px;
}
header nav ul li a{
    color: var(--white);
    font-size: 13px;
    text-transform: uppercase;
}
header nav ul li a:hover{
    color: var(--card-bg-orange);
}
/* utils */
.container{
    width: 70%;
    margin: 0 auto;
}
.btn{
    color: var(--white);
    padding: 15px 30px;
    cursor: pointer;
    width: fit-content;
    text-transform: uppercase;
}

.btn-primary{
    background-color: var(--card-bg-orange);
    border: none;
}

.btn-secondary{
    background-color: var(--bg-black); 
}

.btn-no-background{
    border: 1px solid;
    color: var(--bg-black);
    font-size: .8rem;
    padding: .4rem .5rem;
}

/* hero */
.hero{
    background-color: var(--bg-black);
    height: 100%;
}
.hero .container{
    display: flex;
    position: relative;
}
.hero .hero-text{
    /* width: 50%; */
    /* padding: 50px; */
    /* background-color: var(--card-bg-white); */
    /* border-radius: 10px; */
    /* flex: 1; */
    z-index: 1;
    position: absolute;
    width: 45%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-text h1{
    text-transform: uppercase;
    color: var(--white);
    font-size: 4.5rem;
    line-height: 4.2rem;
}
.hero-text p{
    width: 40ch;
    font-size: 1rem;
}

.hero-text .new-product{
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: .8rem;
}

.hero .hero-image{
    width: 100%;
    height: 402px;
    background-image: url(../assets/home/desktop/image-hero.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* product cards */
.products{
    margin-bottom: 9rem;
}
.product-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: .5rem;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30%;
}

.product-card-image{
    width: 80%;
}

.product-card-image img{
    width: 100%;
}

.product-info{
    background: var(--border-gray);
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    z-index: -9;
    top: 126px;
    width: 100%;
    height: 70%;
    border-radius: 0 0 5px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.product-info a{
    color: var(--white);
}

.featured-product{
    display: flex;
    flex-direction: column;
}

.featured-card{
    display: flex;
    background-color: var(--card-bg-orange);
    border-radius: 0.8rem;
    overflow: hidden;
    max-height: 432px;
    align-items: center;
    justify-content: space-between;
}

.featured-card-image{
    position: relative;
}

.featured-card-image img{
    position: relative;
    bottom: -135px;
    width: 130%;
}

.featured-card-description{
    width: 44%;
    padding-right: 10rem;
    color: var(--card-bg-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.featured-card-description h3{
    width: 10ch;
    padding-right: 10rem;
    color: var(--card-bg-white);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 1.2;
}

.featured-card-description p{
    width: 34ch;
    line-height: 1.5;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.mini-featured-card.speaker{
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
    min-height: 300px;
    margin: 2rem 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.mini-featured-card-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mini-featured-card-description h4{
    text-transform: uppercase;

}

.mini-featured-card.earphone{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
}

.mini-featured-card.earphone .mini-featured-card-description{
    background-color: var(--border-gray);
    width: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
    justify-content: center;
}   
.mini-featured-card.earphone .mini-featured-card-description h4, 
.mini-featured-card.earphone .mini-featured-card-description a{
    transform: translateX(165px);
}


.mini-featured-card.earphone .mini-featured-image{
    width: 100%;
   min-height: 100%;
}

.mini-featured-card.earphone .mini-featured-image img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
}

